body {
    background-image: linear-gradient(180deg, var(--bs-secondary-bg), var(--bs-body-bg) 100px, var(--bs-body-bg));
    font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
    background-color: #300c74;
  }
  
 
  * {
    box-sizing: border-box;
  }
  
  h1, h2, h3 {
    font-weight: 700;
  }
  
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  header {
    background-color: #2f0c70;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar {
    display: flex;
    align-items: center;
  }
  
  .navbar-toggler {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }
  
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  #horizontal-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
  
  #horizontal-menu li {
    margin-right: 20px;
    position: relative;
  }
  
  #horizontal-menu li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
  }
  
  #horizontal-menu li a:hover {
    background-color: #111;
  }
  
  @media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }
  
    .navbar-toggler {
      display: block;
      margin-bottom: 10px;
    }
  
    #horizontal-menu {
      flex-direction: column;
      width: 100%;
      display: none;
    }
  
    #horizontal-menu li {
      margin: 10px 0;
    }
  
    #horizontal-menu.show {
      display: flex;
    }
  }

footer{
  background-color: #300c74;
}
.membership21{
  color: white;
}
.ouroffer{
  color: white;
}
.compare{
  color: white;
  margin-left: 40%;
}

